.body{
    position: absolute;
    left:0%;
    top:0%;
    width: 100%;
  border: 0px;
    height: 100vh;
    z-index: 500;
    background-color: rgba(0,0,0,0.1);
    animation-name:slide_left_to_right;
    animation-fill-mode: forwards; /* t5aleha tetna7ach*/
    animation-duration: 2s; /* toulha 4s animation*/
    overflow: visible;
}

@keyframes slide_left_to_right {
    from {margin-left: -100%;}
    to {margin-right: 0%;}
          
      }
     /* .login_template{
        display: grid;
        top:15%;
        height: 70%;
        width: 20%;
        position: relative;
        margin: 0 auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
        min-width: 300px;
      }*/
  